* {
    font-family: Arimo Nerd Font;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(10, 10, 10, 1);
    border-bottom: 3px solid #1A70FF;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 2px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused, #workspaces button.active {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    color: #ff0000;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#network,
#pulseaudio,
#tray,
#idle_inhibitor,
#scratchpad,
#workspaces,
#windows,
#language {
    padding: 0 5px;
    margin: 5px 5px;
    color: #ffffff;
}

#language {
    font-size: 17px;
}

#custom-power {
    padding: 0 7px;
    font-size: 12px;
    border-radius: 5px
}

#workspaces {
    margin: 0px 5px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    color: #ff0000;
}

#pulseaudio {
    color: #ffffff;
}

#pulseaudio.muted {
    color: #ff0000;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

/*
#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
*/

